.registerbtn {
    background-color: #f5ab00;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /*width: 100%;*/
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}