.registerbtn {
    background-color: var(--dark-blue);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
.registerbtn:hover {
    opacity: 1;
}