@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600&display=swap');
:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --dark-red: hsl(0, 100%, 50%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;
}
body{
  padding: 10px;
  display: flex;
  font-family: 'Red Hat Display', sans-serif;
  justify-content: center;
  background-color: var(--pale-blue);
  background-image: url("assets/pattern-background-desktop.svg");
  background-repeat: no-repeat; /* don't repeat background image"*/
  background-size: cover;/* to cover the whole body*/
}

/* Dit is voor outer en inner container*/
.outer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inner-container{
  flex-basis: 1200px;
  flex-shrink: 1;
  flex-grow: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*Algemene button styling*/
button {
  border-radius: 30px;
  border: none;
  padding: 8px 16px;
  background-color: var(--dark-blue);
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}
/* voor a href link*/
a,
a:visited,
a:active {
  color: #0d3b66;
}
a:hover {
  color: #ea7e1f;
}
/* voor a href link*/
h2 {
  margin: 32px 0 24px 0;
}
h3 {
  color: cornflowerblue;
}
.content {
  margin: 32px;
}
.form-button {
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user h5 {
  margin-right: 8px;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}
.logo-container img {
  width: 40px;
  margin-right: 8px;
}
section  {
  margin: 0 0 50px 0;
}
/*Zet mij op een element en ik blijf voor altijd draaien!*/
.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}
.div-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.article-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--very-pale-blue);
  text-align: center;
  border-radius: 4px;
  flex-basis: 280px;
  margin: 7px;
  height: 300px;
  padding: 20px;
  flex-shrink: 1;
  flex-grow: 0;
}
.article-container h5{
  font-family: 'Quicksand', 'Arial';
/*  example fallbackfont arial*/
}
.article-container h3{
  font-family: 'Quicksand';
}
.article-container p{
  font-family: Roboto Condensed;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 30%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit button */

footer_end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
p section {
  background-color: #F6F3EF;
  font-size: 10px;
  height: 400px;
  overflow: hidden;
  flex-basis: 350px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p section p {
  max-width: 200px;
}
.image_pos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/*//For cart page*/
.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 10px;
}
.cartItem img {
  width: 100px;
  margin: 20px;
}
.cartItem .description {
  width: 100%;
  font-size: 15px;
  margin: 10px;
}
.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}
.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 902px) {
  .image_pos{
    flex-direction: column;
  }
}
